<template>
  <div id='app'>
    <WeekPicker />
  </div>
</template>

<script>
import WeekPicker from './components/WeekPicker'

export default {
  name: 'App',
  components: {
    WeekPicker
  }
}
</script>
